<script id="tmpl-Contacts" type="text/html">
    <div class="Contacts">
    	<h2>Contacts</h2>
    	<div>
    		<span class="btn btnAdd"><i class="icon-plus"></i>Add Contact</span>
    	</div>
    	<div class="dataTable">
	        <div class="thead">
	          <div class="trow">
	          	<div class="tcell">Index</div>
	          	<div class="tcell">Name</div>
	          	<div class="tcell">Email</div>
	          	<div class="tcell">Action</div>
	          </div>
	        </div>
	        <div class="tbody lists">
	        </div>
	  </div>
    </div>
</script>
<script id="tmpl-Contacts-rowItem" type="text/html">
	 <div class="trow" data-entity="{{type}}" data-entity-id="{{id}}">
	     <div class="tcell">{{index}}</div>
	     <div class="tcell">{{name}}</div>
	     <div class="tcell">{{email}}</div>
	     <div class="tcell">
	     	<span class="btn btnEdit"><i title="Edit" class="icon-pencil"></i> Edit</span>
	     	<span class="btn btn-danger btnDelete"><i title="Delete" class="icon-trash"></i> Delete</span>
	     </div>
     </div>
</script>