<script id="tmpl-Groups" type="text/html">
    <div class="Groups">
    	<div>
    		<span class="btn btnAdd"><i class="icon-plus"></i>Add Group</span>
    	</div>
    	<div class="dataTable">
	        <div class="thead">
	          <div class="trow">
	          	<div class="tcell">Name</div>
	          	<div class="tcell">Action</div>
	          </div>
	        </div>
	        <div class="tbody lists">
	        </div>
	  </div>
    </div>
</script>
<script id="tmpl-Groups-rowItem" type="text/html">
	 <div class="trow" data-entity="{{type}}" data-entity-id="{{id}}" data-entity-fullId="{{fullId}}">
	     <div class="tcell item">{{name}}</div>
	     <div class="tcell">
	     	{{#if show}}
	     	<span class="btn btnEdit"><i title="Edit" class="icon-pencil"></i> Edit</span>
	     	<span class="btn btn-danger btnDelete"><i title="Delete" class="icon-trash"></i> Delete</span>
	     	{{/if}}
	     </div>
     </div>
</script>